{{- if eq .chezmoi.os "linux" -}}
# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi

# User specific environment
if ! [[ "$PATH" =~ "$HOME/.local/bin:$HOME/bin:" ]]
then
    PATH="$HOME/.local/bin:$HOME/bin:$PATH"
fi
export PATH

# Uncomment the following line if you don't like systemctl's auto-paging feature:
# export SYSTEMD_PAGER=

# User specific aliases and functions
alias work='cd /proj/a1/dv/yehudat'
alias aif_setup='source /tools/flow/aif/A1/25q1a/bin/aif_setup'
alias sgui='srun --x11 --time=5:00:00 -p high --mem=30G --pty /bin/bash -s'
alias sbatch='srun --time=5:00:00 -p high --mem=30G --pty /bin/bash -s'
alias svcsgui='vcs -l compile.log -full64 -sverilog -debug_acc+all -timescale=1ns/1ps -kdb -lca -f verif/unit/files.txt verif/unit/bhv_xbar_tb.sv -o simv; ./simv -verdi'
alias   svcsc='vcs -l compile.log -full64 -sverilog -debug_acc+all -timescale=1ns/1ps -kdb -lca -f verif/unit/files.txt verif/unit/bhv_xbar_tb.sv -o simv'
alias svcsr='./simv && fsdb2fst'

export NOVAS_RC=~/.verdi/novas.rc

set -o vi

# Load readline configuration
bind -f ~/.inputrc

# Source custom functions
[ -f ~/.bash_functions ] && source ~/.bash_functions
{{- end }}
